body {
  position: relative;
  padding-top: 40px;
}

.clear-navbar {
  margin-top: 40px;
}

.btn:focus {
  outline: none;
}

.spacer {
  height: 1em;
}

.api-list-container {
  border-color: #d3d3d3;
  padding-top: 0;
  padding-bottom: 0;
  margin-bottom: 15px;
}
