<!-- <input type="text" placeholder="search the docs" class="search-query"> -->
<div class="spacer"></div>
<ul class="nav nav-list well api-list-container">
	<div class="nav-header">Users</div>
	<li ng-repeat="method in methodGroups['users']" ng-class="navClass(method)">
		<a href ng-click="selectMethod(method)">{{method.name}}</a>
	</li>
	<div class="nav-header">Courses</div>
	<li ng-repeat="method in methodGroups['courses']" ng-class="navClass(method)">
		<a href ng-click="selectMethod(method)">{{method.name}}</a>
	</li>
	<div class="nav-header">Series</div>
	<li ng-repeat="method in methodGroups['series']" ng-class="navClass(method)">
		<a href ng-click="selectMethod(method)">{{method.name}}</a>
	</li>
</ul>
