<div class="row">
	<div class="span4" ng-include="'sandbox/side-nav.tpl.html'"></div>
	<div class="span8">
		<form class="form-inline">
			<label for="apikeyTxt">API Key:</label>
			<input id="apikeyTxt" type="text" placeholder="Enter api key..." ng-model="apiKey" ng-readonly="viewModel.keySaved" class="span6"/>
			<button class="btn btn-primary" ng-hide="viewModel.keySaved" ng-click="saveAPIKey()">Save</button>
			<button class="btn btn-success" ng-show="viewModel.keySaved" ng-click="editAPIKey()">Edit</button>
		</form>
		<section>
			<div class="page-header">
				<h2>{{currentDetail.name}}</h2>
			</div>
			<pre>{{currentDetail.type}} {{currentDetail.url}}</pre>
			<!--<pre class="prettyprint linenums">-->
<!--$http({method: 'GET', url: '/someUrl'}).-->
  <!--success(function(data, status, headers, config) {-->
    <!--// this callback will be called asynchronously-->
    <!--// when the response is available-->
  <!--}).-->
  <!--error(function(data, status, headers, config) {-->
    <!--// called asynchronously if an error occurs-->
    <!--// or server returns response with an error status.-->
  <!--});-->
			<!--</pre>-->
			<form class="form-inline">
				<button class="btn btn-primary" ng-click="sendCall()">Fetch</button>
			</form>

			<pre>HTTP Status Code: {{resultInfo.status}}</pre>
			<pre style="height: 200px">HTTP Response Data: {{resultInfo.data}}</pre>
			<pre ng-show="viewModel.showError" style="height: 100px">Status: {{errorInfo.status}}<br/>{{errorInfo.data}}</pre>
		</section>
	</div>
</div>
