<div class="row">
	<div class="span4" ng-include="'sandbox/side-nav.tpl.html'"></div>
	<div class="span8">
		<form class="form-inline">
			<label for="apikeyTxt">API Key:</label>
			<input id="apikeyTxt" type="text" placeholder="Enter api key..." ng-model="apiKey" ng-readonly="viewModel.keySaved" class="span6"/>
			<button class="btn btn-primary" ng-hide="viewModel.keySaved" ng-click="enterAPIKey('save')">Save</button>
			<button class="btn btn-success" ng-show="viewModel.keySaved" ng-click="enterAPIKey('edit')">Edit</button>
		</form>

		<section class="content" ng-show="currentAPI">
			<div class="page-header">
				<h2>{{currentAPI.name}}</h2>
			</div>
			<div class="description">
				<h3>Description</h3>
				<p>Max needs to add some documentation.</p>
			</div>
			<h3>Usage</h3>
			<pre>{{currentAPI.type}} {{currentAPI.url}}</pre>

			<pre>{{ currentAPI.url | format : currentAPI.tokens }}</pre>

			<div class="row">
				<div class="span2" ng-repeat="(key, value) in currentRepeater">
					<input ng-model="currentAPI.tokens[key]" class="span2" type="text" placeholder=":{{key}}"/>
				</div>
			</div>

			<pre>tokens: {{ currentAPI.tokens | json }}</pre>

			<form class="form-inline">
				<button class="btn btn-primary" ng-click="sendCall()">Fetch</button>
			</form>
			<pre>HTTP Status Code: {{resultInfo.status}}</pre>
			<pre>HTTP Response Data: {{resultInfo.data | json}}</pre>
		</section>
	</div>
</div>
